body {
    background-color: #FFFFFF;
    color:var(--main-title-text);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}
:root {
    --brand-blue-color: #2196F3;
    --main-title-text: #212121;
    --secondary-text: #757575;
    --background-color: #2F303A;
    --main-background-color: #ffffff;
    --logo-black-part: #000000;
    --border-elements-color: #ECECEC;
    --secondary-bg-color: #F5F4FA;
}

.container  {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* -------------------HEADER------------------ */
/* -------------------HEADER------------------ */
/* -------------------HEADER------------------ */

.header {
    border-bottom: 1px solid var(--border-elements-color);
}

.navigation {
    display: flex;
    align-items: center;
    padding: 0;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.container.navigation {
    display: flex;

}

.container.line-nav {
    display: flex;
    align-items: center;
}

.site-nav .link {
    color: var(--main-title-text);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--brand-blue-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--brand-blue-color);
}

.header-logo {
    margin-right: 93px;

    color: var(--brand-blue-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.header-logo .colorsplit-header {
    color: var(--logo-black-part);
}
 
.link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link:not(:last-child) {
    margin-right: 50px;
}

.contact-links {
    display: flex;
    margin: 0;
    margin-left: auto;
}

.contact-links .mail:hover,
.contact-links .mail:focus {
    color: var(--brand-blue-color);
}

.contact-links .phone:hover,
.contact-links .phone:focus {
    color: var(--brand-blue-color);
}

.mail {
    margin-right: 50px;
    padding: 32px 0;

    text-decoration: none;
    color: var(--secondary-text);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.phone {
        padding: 32px 0;

    color: var(--secondary-text);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

/* ----------------MAIN---------------- */
/* ----------------MAIN---------------- */
/* ----------------MAIN---------------- */

.hero {
    background-color: var(--background-color);

    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
}

.hero .hero-title {
    margin: 0 auto 30px;
    display: block;
 
    width: 696px;
    color: var(--main-background-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}


.button-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    
    font-size: 16px;
    background-color: var(--brand-blue-color);
    color: var(--main-background-color);
    text-align: center;
    line-height: 1.87;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits {
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px; 
}

.benefits-list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding-left: 0;
}


.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.benefits-text {
    margin-top: 10px;
    margin-bottom: 0;

    line-height: 1.7;
    color: var(--secondary-text);
}

.services {
    margin-bottom: 0;
    padding-bottom: 94px;
}

.services-title {
    margin-top: 0;
    margin-bottom: 50px;

    text-align: center;
    font-size: 36px;
    line-height: 1.17;
}

.services-list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.services-pictures {
    display: block;
}

.services-img:not(:last-child) {
    margin-right: 30px;
}

.team {
    background-color: var(--secondary-bg-color);

    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;

    text-align: center;
    font-size: 36px;
    line-height: 1.17;
}
 .team-list {
    display: flex;
    padding: 0;
    margin: 0;
 }
 .team-item:not(:last-child) {
    margin-right: 30px;
 }

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
}

.portrait {
    display: block;
}

.portrait-description {
    padding-top: 30px;
    padding-bottom: 30px;

}

.name-title {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}

.speciality {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.17;
    color: var(--secondary-text);
    text-align: center;
}

/* ----------------FOOTER--------------- */
/* ----------------FOOTER--------------- */
/* ----------------FOOTER--------------- */

.footer {
    background-color: var(--background-color);

}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    color: var(--brand-blue-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.address-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-logo .colorsplit-footer {
    color: var(--main-background-color);
}

.address {
    font-style: normal;
}

.address-items {
    display: block;
}

.address-items:not(:last-child) {
    margin-bottom: 9px;
}

.map-location {
    line-height: 1.7;
    color: var(--main-background-color);
    text-decoration: none;
}
.mail-footer,
.phone-footer {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
